// Greens
.lightest {
  background-color: #62CED5;
}

.lighter {
  background-color: #58AFB7;
}

.light {
  background-color: #44A1A7;
}

.dark {
  background-color: #0C8194;
}

.darker {
  background-color: #066883;
}

// OG
.lightest {
  background-color: #cde8ff;
}

.lighter {
  background-color: #64b5ff;
}

.light {
  background-color: #1671d4;
}

.dark {
  background-color: #373E3D;
}

.darker {
  background-color: #0d0d0d;
}

// REDS & GREENS
.lightest {
  background-color: #FF6138;
}

.lighter {
  background-color: #FFFF9D;
}

.light {
  background-color: #BEEB9F;
}

.dark {
  background-color: #79BD8F;
}

.darker {
  background-color: #00A388;
}

//CREAM & BLUE
.lightest {
  background-color: #F2E5BD;
}

.lighter {
  background-color: #9FD7C7;
}

.light {
  background-color: #EE913F;
}

.dark {
  background-color: #7F8C1F;
}

.darker {
  background-color: #195073;
}

// BLUE
.lightest {
  background-color: #6ABDDF;
}

.lighter {
  background-color: #05AFF2;
}

.light {
  background-color: #036FBC;
}

.dark {
  background-color: #003597;
}

.darker {
  background-color: #071F56;
}

// GRAYS & a RED
.lightest {
  background-color: #EFEFEF;
}

.lighter {
  background-color: #FF530D;
}

.light {
  background-color: #BDD4DE;
}

.dark {
  background-color: #3F5765;
}

.darker {
  background-color: #2B3A42;
}

// FALL
.lightest {
  background-color: #F1E3C1;
}

.lighter {
  background-color: #D96704;
}

.light {
  background-color: #F29F05;
}

.dark {
  background-color: #BF0606;
}

.darker {
  background-color: #265902;
}

// OCEAN
.lightest {
  background-color: #A8BFBF;
}

.lighter {
  background-color: #707F7F;
}

.light {
  background-color: #446D85;
}

.dark {
  background-color: #2C5A7D;
}

.darker {
  background-color: #083868;
}
