html {

}

body {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color:#262626;
  width: 100%;
  height: 100%;
}

#scrollOn {
  background-image: url(../img/extender.gif) repeat-y;
  display:hidden;
  height:100%;
}

#content {
  width: 85%;
  margin: 0px auto;  
}

footer {
  bottom:0%;
  position:fixed;
  width:100%;
  background: #3F5765;
}
	
/* COLORS
=================================================== */
.lightest {
  background-color: #EFEFEF;
}

.lighter {
  background-color: #FF530D;
}

.light {
  background-color: #BDD4DE;
}

.dark {
  background-color: #3F5765;
}

.darker {
  background-color: #2B3A42;
}

/* BOXES
=================================================== */
.brick {
  float:left;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.mini {
  width: 23px;
  height: 23px;
}

.smallBox {
  width: 46px;
  height: 46px;
}

.box {
  width: 92px;	
  height: 92px;
}

.horiRect {
  width: 186px;	
  height: 92px;
}

.vertRect {
  width: 92px;	
  height: 186px;
}

.bigBox {
  width: 186px;	
  height: 186px;
}

.contentBox {
  width:468px;
  height:304px;
}

#append {
  position:fixed;
}

/* MASONRY TRANSITIONS
=================================================== */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.9s;
     -moz-transition-duration: 0.9s;
      -ms-transition-duration: 0.9s;
       -o-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* BACK-TO-THE-TOP BUTTON
=================================================== */
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: .5%;
}
#back-top a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #BDD4DE;
}
/* arrow icon (span tag) */
#back-top span {
  width: 32px;
  height: 32px;
  display: block;
  background: url(../img/arrow-up.png) no-repeat center center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}